<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tickle_moa.backend.mapper.TransactionMapper">

    <select id="findByAccountId" resultType="com.tickle_moa.backend.model.Transaction">
        SELECT * FROM transactions WHERE account_id = #{accountId}
    </select>

    <insert id="insertTransaction">
        INSERT INTO transactions (account_id, type, category, amount, description, date)
        VALUES (#{accountId}, #{type}, #{category}, #{amount}, #{description}, #{date})
    </insert>

    <delete id="deleteById">
        DELETE FROM transactions WHERE tran_id = #{tranId}
    </delete>

</mapper>
